/*CSS for donutMaster.html Code Fellows Foundations 1 Assignment 5*/
body {
  max-width: 900px;
  background-color: #F7F7FB;
  font-family: Georgia, Times, serif;
  font-size: 16px;
}

th, td {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  text-align: center;
  padding: 5px;
}

h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  margin-top: 0;
}

table {
  margin-left: 10%;
}

img {
 margin-left: 36%;
 margin-right: 33%;
}

.headerReplacement {
  text-indent: -9999px;
  width: 175px;
  height: 110px;
  background: url(http://timali4man.com/Images/donutMasterLogo1.gif);
  margin-bottom: -110px;
}

.highlighted {
  background-color: rgb(255, 255, 204)
}

.sum {
  background-color: #8AB8E6;
}

#headingsRow {
  background-color: pink;
}

#empty {
  background-color: #777;
}


